.header {
	margin-bottom: 50px;
	font-size: 0;
}
.header__logo,
.header__menu,
.header__icons {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
}
.header__logo {
	width: 28%;
	padding-left: 22px;
}
.logo__img {
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
	width: 80px;
	height: 66px;
	margin-right: 15px;
	img {
		display: none;
	}
}
.logo__name {
	font-family: malina;
	font-size: 36px;
	color: $yellow;
	vertical-align: middle;
}
.header__menu {
	width: 57%;
}
.menu__list {
	padding: 10px 6px 0 103px;
	text-align: justify;
	line-height: 0;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}
.menu__item {
	display: inline-block;
	font-family: Arial;
	letter-spacing: 1.5px;
	line-height: 1.42;
	position: relative;
	&:hover {
		.menu__link {
			color: #ffaf28;
			&:after {
				border-right-color: #ffaf28;
				border-bottom-color: #ffaf28;
			}
		}
		.menu__link_has-dropdown {
			&:after {
				border-left: 1px solid #ffaf28;
				border-top: 1px solid #ffaf28;
				border-right: none;
				border-bottom: none;
			}
		}
		.menu__dropdown {
			display: block;
		}
	}
}
.menu__link {
	color: #fff;
	text-decoration: none;
	display: block;
}
.menu__link_has-dropdown {
	&:after {
		content: "";
		display: inline-block;
		height: 4px;
		width: 4px;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		transform: rotate(45deg);
		margin-left: 12px;
		margin-bottom: 2px;
	}
}
.menu__dropdown {
	display: none;
	background-color: rgba(#fff, .92);
	position: absolute;
	top: 55px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	padding: 28px 39px;
	z-index: 2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		border: 13px solid transparent;
		border-left-width: 20px;
		border-right-width: 20px;
		border-bottom-color: rgba(255,255,255,0.92);
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	&:after {
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		bottom: 100%;
		right: 0;
		height: 36px;
	}
}
.dropdown__item {
	padding: 8px;
	white-space: nowrap;
	&:before {
		content: "";
		display: block;
		width: 0px;
		height: 0px;
		border: 10px solid transparent;
		position: absolute;
		left: 0;
	}
	&:hover {
		font-weight: bold;
		padding-right: 0;
		&:before {
			border-left-color: $yellow;
		}
	}
}
.header__icons {
	width: 15%;
}
.icons__list {
	text-align: right;
	padding: 10px 15px 0 0;
}
.icons__item {
	display: inline-block;
	margin-right: 23px;
	&:last-child {
		margin-right: 0;
	}
}
.icons__link {
	display: block;
	background-color: #ad2e33;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	background-image: url(../img/header-sprite.png);
	background-repeat: no-repeat;
	display: block;
	&:hover {
		background-color: #641a00;
	}
}
.icons__link_person {
	background-position: 0 0;
	}
.icons__link_search {
	background-position: 0 -40px;
}