.taste {
	background: linear-gradient(to right,  #c8c9c7 0%,#e9e7e8 100%);
	font-size: 0;
}
.taste__left,
.taste__right {
	display: inline-block;
	font-size: 15px;
}
.taste__left {
	vertical-align: top;
	width: 60%;
	padding-top: 98px;
	padding-left: 70px;
	padding-bottom: 98px;
}
.title_blue {
	color: #2b2f5f;
	margin-bottom: 33px;
}
.taste__desc {
	p {
		color: #747474;
		line-height: 22.5px;
		width: 70%;
		margin-bottom: 51px;
	}
}
.taste__list {
	text-align: justify;
	font-size: 0;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}
.taste__item {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	font-size: 16px;
}
.taste__img {
	background-position: 50%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 120px;
	width: 120px;
	margin-bottom: 17px;
	img {
		display: none;
	}
}
.taste__img-desc {
	text-align: left;
	font-family: malina;
	color: #747474;
	line-height: 20px;
}
.taste__right {
	vertical-align: bottom;
	width: 40%;
	padding-top: 52px;
}
.taste__photo {
	background-position: 50%;
	background-size: cover;
	height: 708px;
	width: 382px;
	margin: auto;
	img {
		display: none;
	}
}